<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--<bean id="userDao" class="com.xrafece.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy"/>-->
	<!--<bean id="userDao" class="com.xrafece.factory.StaticFactory" factory-method="getUserDao"/>-->

	<!--<bean id="dynamicFactory" class="com.xrafece.factory.DynamicFactory"/>-->
	<!--<bean id="userDao" factory-bean="dynamicFactory" factory-method="getUserDao"/>-->
	<bean id="userDao" class="com.xrafece.dao.impl.UserDaoImpl"/>
	<bean id="userService" class="com.xrafece.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>


</beans>