<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登陆借教室</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{plugin/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/teacher/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{login}">
    <img class="mb-4" src="logo.png" alt="" width="300" height="300">
    <h1 class="h3 mb-3 font-weight-normal">易班账号登陆</h1>
    <label for="inputEmail" class="sr-only">用户名</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住密码
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登 陆</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 易班</p>
<!--    <button class="btn btn-lg btn-primary btn-block" id=""-->
</form>
</body>
</html>