<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
	<!--开启注解组件扫描，配置扫描包基路径-->
	<context:component-scan base-package="com.xrafece"/>

	<!--激活属性占位符${...}，配置 properties 文件位置，分离配置耦合-->
	<context:property-placeholder location="classpath:jdbc.properties"/>

	<!--配置 c3p0 数据源（数据库连接池）-->
	<bean id="comboPooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!--配置 druid 数据源， 没有使用占位符分离配置-->
	<bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://49.234.189.173:3306/one2"/>
		<property name="username" value="one2"/>
		<property name="password" value="46csRSe7AZ4css4X"/>
	</bean>
	<!--以上两个 bean 展示了实际开发中如何使用依赖注入给我们无法修改的第三方引用 jar 包中所需对象-->

</beans>